@model Helperland.ViewModel.ServiceViewModel
@{
    ViewData["Title"] = "bookservice";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




<head><link rel="stylesheet" href="~/Assets/css/about.css"></head>
    
    <img src="~/Assets/image/book-service-banner.jpg" class="about-banner">

    <h1 class="txt-few-words">Set up your cleaning service</h1>
    <div class="diamond">
        <hr class=diam-break-left>
        <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
        <hr class="diam-break-right">
    </div>

    <section class="schedule-services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="services-header">
                        <div class="service-link active" id="tab1" onclick="tab1click()">
                            <a href="#">
                                <img id="img-1" src="~/Assets/image/setup-service-white.png" class="img-service">
                                <span class="txt-service">Setup Service</span>
                            </a>
                        </div>
                        <div class="service-link " id="tab2" onclick="tab2click()">
                            <a href="#">
                                <img id="img-2" src="~/Assets/image/schedule.png" class="img-service">
                                <span class="txt-service">Schedule & Plan</span>
                            </a>
                        </div>
                        <div class="service-link " id="tab3" onclick="tab3click()">
                            <a href="#">
                                <img id="img-3" src="~/Assets/image/details.png" class="img-service">
                                <span class="txt-service">Your Details</span>
                            </a>
                        </div>
                        <div class="service-link" id="tab4" onclick="tab4click()">
                            <a href="#">
                                <img id="img-4" src="~/Assets/image/payment.png" class="img-service">
                                <span class="txt-service">Make Payment</span>
                            </a>
                        </div>
                    </div>

                    @*<div class="bed-bath">
                        <h3 class="txt-bed-bath">select number of rooms and bath</h3>
                        <form class="form-inline">
                            <select class="form-control m_3">
                                <option>bed1</option>
                                <option>bed1</option>
                                <option>bed1</option>
                                <option>bed1</option>
                            </select>
                            <select class="form-control m_3">
                                <option>bath1</option>
                                <option>bath1</option>
                                <option>bath1</option>
                                <option>bath1</option>
                            </select>
                        </form>
                    </div>*@

                    <hr>
                    <div>
                        <form action="" method="post">
                            <div id="tabContent1" class="">
                                <h4><b>Enter your Postal Code</b></h4>

                                <table class="">
                                    <tr>
                                        <td width="250px"><input type="text" id="ZipCode" asp-for="ZipcodeValue" maxlength="6" minlength="6" required /></td>
                                        <td><button type="submit" value="Check Availability" class="m_3 btn-availability" onclick="searchzipcode(event)">Check Availability</button></td>
                                    </tr>
                                </table>
                                <div class="msg">
                                    <br />
                                    <span class="text-danger" id="ErrorMessage"></span>
                                </div>
                            </div>
                        </form>
                    
                        <div id="tabContent2" style="display:none;">
                            <div class="bed-bath">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <h3 class="txt-bed-bath">when you need the cleaner?</h3>
                                        <form class="form-inline">
                                            <input type="date" class="form-control m_3">
                                            <select class="form-control m_3">
                                                <option>11:00AM</option>
                                                <option>12:00PM</option>
                                                <option>01:00PM</option>
                                                <option>02:00PM</option>
                                                <option>03:00PM</option>
                                                <option>04:00PM</option>
                                                <option>05:00PM</option>
                                                <option>06:00PM</option>
                                                <option>07:00PM</option>
                                                <option>08:00PM</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <h3 class="txt-bed-bath">how long do you need your cleaner to stay?</h3>
                                        <form class="form-inline">
                                            <select class="form-control m_3">
                                                <option>1.0 hrs</option>
                                                <option>2.0 hrs</option>
                                                <option>3.0 hrs</option>
                                                <option>4.0 hrs</option>
                                                <option>5.0 hrs</option>
                                                <option>6.0 hrs</option>
                                                <option>7.0 hrs</option>
                                                <option>8.0 hrs</option>
                                                <option>9.0 hrs</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="bed-bath">
                                <h3 class="txt-bed-bath">Extra Services</h3>
                                <div class="extra-services">
                                    <input type="checkbox" id="mycheckbox1" onclick="cabinet()" />
                                    <label for="mycheckbox1" onclick="cabinet()" class="check-label">
                                        <div class="extra-img-txt">
                                            <div class="img-extra" id="1">
                                                <img src="~/Assets/image/service_1.png" id="cabinetimg" class="img-center">
                                            </div>
                                            <h3 class="txt-extra">Inside cabinets</h3>
                                        </div>
                                    </label>
                                    <input type="checkbox" id="mycheckbox2" onclick="fridge()" />
                                    <label for="mycheckbox2" onclick="fridge()" class="check-label">
                                        <div class="extra-img-txt">
                                            <div class="img-extra" id="2" >
                                                <img src="~/Assets/image/service_2.png" id="fridgeimg" class="img-center">
                                            </div>
                                            <h3 class="txt-extra">Inside fridge</h3>
                                        </div>
                                    </label>

                                    <input type="checkbox" id="mycheckbox3" onclick="oven()" />
                                    <label for="mycheckbox3" onclick="oven()" class="check-label">
                                        <div class="extra-img-txt">
                                            <div class="img-extra" id="3">
                                                <img src="~/Assets/image/service_3.png" id="ovenimg" class="img-center">
                                            </div>
                                            <h3 class="txt-extra">Inside oven</h3>
                                        </div>
                                    </label>

                                    <input type="checkbox" id="mycheckbox4" onclick="laundry()" />
                                    <label for="mycheckbox4" onclick="laundry()" class="check-label">
                                        <div class="extra-img-txt">
                                            <div class="img-extra" id="4">
                                                <img src="~/Assets/image/service_4.png" id="laundryimg" class="img-center">
                                            </div>
                                            <h3 class="txt-extra">Laundry<br> wash & dry</h3>
                                        </div>
                                    </label>
                                    <input type="checkbox" id="mycheckbox5" onclick="windows()" />
                                    <label for="mycheckbox5" onclick="windows()" class="check-label">
                                        <div class="extra-img-txt" >
                                            <div class="img-extra" id="5">
                                                <img src="~/Assets/image/service_5.png" id="windowsimg" class="img-center">
                                            </div>
                                            <h3 class="txt-extra">Interior<br> windows</h3>
                                        </div>
                                    </label>

                                </div>
                            </div>

                            <hr>
                            <div class="bed-bath">
                                <h3 class="txt-comments">Comments</h3>
                                <form>
                                    <textarea class="form-control" rows="3"> </textarea>
                                    <div>
                                        <input class="" type="checkbox" id="gridcheck1">
                                        <label for="gridcheck1" class="form-check-label txt-check">
                                            I have pets at home
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <hr>

                            <button class="btn-continue">
                                Continue
                            </button>
                        </div>
                        <div id="tabContent3" style="display:none;">
                            <div id="divAddress"></div><br />
                            <input type="button" class="btn-continue" value="Continue" onclick="SaveAddress();" />
                        </div>
                        <div id="tabContent4" style="display:none;">
                            You are booking service request for zipcode <span id="confirmZipCode"></span>
                            <br /><br />
                            <input type="button" class="btn-availability" value="Complete Booking" onclick="CompleteBooking();" />
                        </div>
                        <div id="successMessage" style="display:none; color: green;"></div>
                        <br /><br />

                    </div>
                </div>
                
                <div class="col-md-4 col-12">
                    <div class="payment-box">
                        <div class="payment-summary">
                            <h3 class="txt-payment">Payment Summary</h3>
                        </div>

                        <div class="mini-box">
                            <div class="m-3">
                                <h4 class="txt-minibox">
                                    
                                    01/01/2018  4:00 pm <br>

                                    1bed, 1bath.
                                </h4>
                                <h4 class="htxt-minibox">
                                    Duration
                                </h4>
                                <h4 class="txt-minibox">
                                    <span style="float:left">basic</span>
                                    <span style="float:right">3 Hrs</span>
                                </h4>
                                <br>
                                <h4 class="txt-minibox">
                                    <span style="float:left">Inside cabinet (extra)</span>
                                    <span style="float:right">30 Mins</span>
                                </h4>
                                <br>
                                <h4 class="htxt-minibox">
                                    <span style="float:left">Total Service Time</span>
                                    <span style="float: right">3.5 Hrs</span>
                                </h4>
                                <br>

                                <hr>
                                <h4 class="txt-minibox">
                                    <span style="float: left">per cleaning</span>
                                    <span style="float: right">$ 87</span>
                                </h4>
                                <br>
                                <h4 class="txt-minibox">
                                    <span style="float: left">Discount</span>
                                    <span style="float: right">-$ 27</span>
                                </h4>
                                <br>
                                <hr>
                                <h4 style="color:#1d7a8c">
                                    <span style="float: left">Discount</span>
                                    <span style="float: right;font-size:22px;font-weight: bold;">$ 63</span>
                                </h4>
                                <br>
                                <h4 class="htxt-minibox">
                                    <span style="float: left">Effective price</span>
                                    <span style="float: right">$ 50.4</span>
                                </h4>
                                <br>

                                <h4 class="txt-minibox">You will save 20% according to s 35a EStG</h4>


                            </div>
                            <div class="see-what">
                                <p>See what is always included </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions">
                        <h2 class="txt-questions">Questions?</h2>
                        <p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr>
                        <p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr>
                        <p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr>
                        <p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr>
                        <p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr><p>
                            <span><i class="fas fa-angle-right"></i>which helperland professional will come to my place?</span>
                        </p>
                        <hr>
                        <p>
                            <a href="#">For more help</a>
                        </p>

                    </div>



                </div>
            </div>
        </div>
    </section>

    <div>
        <div class="get-newsletter">
            <p style="font-weight: bold;">GET OUR NEWSLETTER</p>
        </div>
        <div class="form1">

            <input type="email" id="email" placeholder="Your Email" class="email">
            <button class="submit">submit </button>
     </div>


        <script type="text/javascript">
        var globalVar = "Global to Booking page";
        function tab1click() {
            $("#tab1").addClass("active");
            $("#tab2").addClass("service-link").removeClass("active");
            $("#tab3").addClass("service-link").removeClass("active");
            $("#tab4").addClass("service-link").removeClass("active");

            $("#tabContent2").hide();
            $("#tabContent3").hide();
            $("#tabContent4").hide();
            $("#tabContent1").show();

            document.getElementById('img-1').src = "../Assets/image/setup-service-white.png";
            document.getElementById('img-2').src = "../Assets/image/schedule.png";
            document.getElementById('img-3').src = "../Assets/image/details.png";
            document.getElementById('img-4').src = "../Assets/image/payment.png";
        }

        function tab2click() {
            $("#tab2").addClass("active");
            $("#tab1").addClass("service-link").removeClass("active");
            $("#tab3").addClass("service-link").removeClass("active");
            $("#tab4").addClass("service-link").removeClass("active");

            $("#tabContent1").hide();
            $("#tabContent4").hide();
            $("#tabContent3").hide();
            $("#tabContent2").show();

            document.getElementById('img-2').src = "../Assets/image/schedule-white.png";
            document.getElementById('img-3').src = "../Assets/image/details.png";
            document.getElementById('img-4').src = "../Assets/image/payment.png";
            document.getElementById('img-1').src = "../Assets/image/setup-service.png";


        }

        function tab3click() {
            $("#tab3").addClass("active");
            $("#tab1").addClass("service-link").removeClass("active");
            $("#tab2").addClass("service-link").removeClass("active");
            $("#tab4").addClass("service-link").removeClass("active");

            $("#tabContent1").hide();
            $("#tabContent2").hide();
            $("#tabContent4").hide();
            $("#tabContent3").show();

            document.getElementById('img-3').src = "../Assets/image/details-white.png";
            document.getElementById('img-2').src = "../Assets/image/schedule.png";
            document.getElementById('img-4').src = "../Assets/image/payment.png";
            document.getElementById('img-1').src = "../Assets/image/setup-service.png";
        }
        function tab4click() {
            $("#tab4").addClass("active");
            $("#tab1").addClass("service-link").removeClass("active");
            $("#tab2").addClass("service-link").removeClass("active");
            $("#tab3").addClass("service-link").removeClass("active");

            $("#tabContent1").hide();
            $("#tabContent2").hide();
            $("#tabContent3").hide();
            $("#tabContent4").show();

            document.getElementById('img-4').src = "../Assets/image/payment-white.png";
            document.getElementById('img-2').src = "../Assets/image/schedule.png";
            document.getElementById('img-3').src = "../Assets/image/details.png";
            document.getElementById('img-1').src = "../Assets/image/setup-service.png";

        }
        function cabinet() {
            if (mycheckbox1.checked) {
                document.getElementById("cabinetimg").src = "../Assets/image/1-green.png";
                document.getElementById("1").style = "border:1px solid #1D7A8C";

            }
            else {
                document.getElementById("cabinetimg").src = "../Assets/image/service_1.png";
                document.getElementById("1").style = "border:1px solid #B0c9ce";


            }
        }

        function fridge() {
            if (mycheckbox2.checked) {
                document.getElementById("fridgeimg").src = "../Assets/image/2-green.png";
                document.getElementById("2").style = "border:1px solid #1D7A8C";

            }
            else {
                document.getElementById("fridgeimg").src = "../Assets/image/service_2.png";
                document.getElementById("2").style = "border:1px solid #B0c9ce";

            }
        }
        function oven() {
            if (mycheckbox3.checked) {
                document.getElementById("ovenimg").src = "../Assets/image/3-green.png";
                document.getElementById("3").style = "border:1px solid #1D7A8C";
            }
            else {
                document.getElementById("ovenimg").src = "../Assets/image/service_3.png";
                document.getElementById("3").style = "border:1px solid #B0c9ce";

            }
        }

        function laundry() {
            if (mycheckbox4.checked) {
                document.getElementById("laundryimg").src = "../Assets/image/4-green.png";
                document.getElementById("4").style = "border:1px solid #1D7A8C";

            }
            else {
                document.getElementById("laundryimg").src = "../Assets/image/service_4.png";
                document.getElementById("4").style = "border:1px solid #B0c9ce";

            }
        }
        function windows() {
            if (mycheckbox5.checked) {
                document.getElementById("windowsimg").src = "../Assets/image/5-green.png";
                document.getElementById("5").style = "border:1px solid #1D7A8C";

            }
            else {
                document.getElementById("windowsimg").src = "../Assets/image/service_5.png";
                document.getElementById("5").style = "border:1px solid #B0c9ce";

            }
        }

        function searchzipcode(event) {
            var zip = $("#ZipCode").val();
            console.log("hello re11");
            event.preventDefault();
            if (isNaN(zip) || zip == "") {
                $("#Errormsg").html("Enter valid zipcode");
            }

            else {
                $.get("/Service/searchzipcode", { zipcode: zip }, function (data) {
                    console.log(data);
                    if (data == "true") {

                        alert("zipcode Matched");
                        $("#tab2").addClass("active").removeClass("disabled");
                        console.log("hello re");

                        $("#tabContent1").hide();

                        $("#tabContent2").show();

                        document.getElementById('img-2').src = "../Assets/image/schedule-white.png";
                        document.getElementById('img-1').src = "../Assets/image/setup-service-white.png";
                    }
                    else {
                        
                    
                        if (data == "false") {
                            alert("hh")
                            $("#ErrorMessage").html("We are not providing service in this area.We'll notify you if any helper would start working near your area.").fadeOut(50000);
                            
                         }
                         else {
                             alert("You have to login before Book A Service");
                             window.location.href = "@Url.Action("Index","Home")";
                         }
                     }

                })

            }
        }

        </script>

       
