@{
    Layout = null;
}
@model IEnumerable<Helperland.Models.UserAddress>

@foreach (var item in Model)
{

    <label class="row address">
        <span class="col-lg-1">
            <input type="radio" name="Address_radio" checked value="@item.AddressId">

        </span>
        <span class="col-lg-11">
            <span class="row"> <b>Address</b>: @item.AddressLine1 @item.AddressLine2 @item.PostalCode</span>
            <span class="row"> <b>Phone number</b>:@item.Mobile</span>
        </span>
    </label>
}

<div id="address">

</div>



<button type="button" id="addAdd" class="add-Add-btn mt-3" onclick="displayAddForm()">+ Add New Address</button>




<hr>
<button type="submit" formmethod="post" class="check-zip-btn " name="action" value="addSerAdd" style="float: right;" onclick="alert('Your details Submitted Successfully Please move to Make Payment tab to further booking')">Continue</button>
