
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Assets/css/about.css">
</head>
<img src="~/Assets/image/hero-banner-img.png" class="about-banner">

<div class="few-words">
    <h1 class="txt-few-words">A Few words about us</h1>
    <div class="diamond">
        <hr class=diam-break-left>
        <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
        <hr class="diam-break-right">
    </div>
    <div class="container">
        <div class="col justify-content-center">
            <div class="row">
                <h3 class="txt-small"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</h3><br>
            </div>
            <div class="row">
                <h3 class="txt-small">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</h3>
            </div>
        </div>
    </div>
</div>

<div class="few-words">
    <h1 class="txt-few-words">Our story</h1>
    <div class="diamond">
        <hr class=diam-break-left>
        <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
        <hr class="diam-break-right">
    </div>
    <div class="container">
        <div class="col justify-content-center">
            <div class="row">
                <h3 class="txt-small"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</h3><br>
            </div>
            <div class="row">
                <h3 class="txt-small">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.</h3><br>
            </div>
            <div class="row">
                <h3 class="txt-small">Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</h3>
            </div>
        </div>
    </div>
</div>
<h2 class="get-newsletter">GET OUR NEWSLETTER</h2>

<div class="form1">

    <input type="email" id="email" placeholder="Your Email" class="email">
    <button class="submit">
        submit

    </button>
    <div class="up-aero">
        <img src="~/Assets/image/up-aero.png" style="margin-left: 14px; margin-top: 18px;">
    </div>
</div>


