@model Helperland.ViewModel.createviewmodel
@{
    ViewData["Title"] = "createuser";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head><link rel="stylesheet" href="~/Assets/css/contactus.css"></head>

    <section class="contact-section">
        <div class="container">
            <h1 class="txt-contact">Create Account</h1>
            <div class="diamond">
                <hr class=diam-break-left>
                <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
                <hr class="diam-break-right">
            </div>
        </div>
    </section>

    <section>
        @if (TempData["Message"] != null)
        {
            <div class="container d-flex justify-content-center">
                <div class="alert alert-success col-lg-6">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Account Created Successfull!</strong>
                </div>
            </div>
        }
        <form enctype="multipart/form-data" asp-controller="Createaccount" asp-action="createuser" method="post">
            <div class="container">
                <div class="row justify-content-center ">

                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" asp-for="FirstName" id="fname" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" asp-for="LastName" id="lname" placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center ">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="email" asp-for="Email" id="email" placeholder="Email address" data-val="true"
                                   data-val-required="The Email field is required.">
                            <span asp-validation-for="Email" class="text-danger"></span>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+49</div>
                                </div>
                                <input class="form-control" type="tel" asp-for="Mobile" id="MobileNo" placeholder="Phone Number">

                            </div>
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center ">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="password" asp-for="Password" id="password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="password" asp-for="Confirmpassword" id="confirm_pswd" placeholder="Confirm Password">
                            <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 col-12 form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" asp-for="Ischecked" class="form-check-inline" style="height:auto;">
                            <span class="terms">I agree with the <a href="">terms and conditions</a> of Helperland GmbH.</span>
                            <span asp-validation-for="Ischecked" class="text-danger"></span>
                        </label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 col-12 form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" asp-for="Ischecked" class="form-check-inline" style="height: auto;">
                            <span class="terms">I have read the <a href="">privacy policy</a> .</span>
                            <span asp-validation-for="Ischecked" class="text-danger"></span>
                        </label>
                    </div>
                </div>


                <div class="text-center">
                    <div class="row justify-content-center">
                        <button type="submit" value="Submit" class="btn-form" formmethod="post">Register</button>
                    </div>
                </div>
                <div class="text-center mt-3 mb-5">
                    Already registrered?  <a href="">Login now</a>
                </div>
            </div>

        </form>
    </section>
    



 


