@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto', sans-serif;}
h1, .h1 { font-size: 50px; font-weight: 500; color: #fff; line-height: 1.08; }
h2, .h2 { font-size: 40px; font-weight: 700; color: #4F4F4F; line-height: 1.2; }
h3, .h3 { font-size: 30px; font-weight: 700; color: #565656; line-height: 1.2; }
p { font-size: 16px; font-weight: 400; color: #4F4F4F; line-height: 1.3; }

.section-10{
     background-image: url("/Assets/image/group-35.png"); 
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.become-a-pro {
    background: url("/Assets/image/become-a-pro-banner.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.trans{
  background: transparent;
}
.helperland-logo{
  margin-left: 10px;

}
.bar-btn{
  color: white;
  font-size: 28px;
}
.nav-link{
  color: white;
}

.nav-link{
  color: white;
}
.nav-item a:hover{
  color: white;
}
.nav-item{
  margin:0px 8px;
}
.Rounded-Rectangle{
  border-radius: 25px;
  border:1px solid #ffff;
  padding: 3px 25px;
}
.Rounded-Rectangle:hover{
  background-color: white;
}
.Rounded-Rectangle a:hover{
  color: #4F4F4F;
}

.txt{
  font-family: Roboto;
  font-size: 49px;
  font-weight: 500;
  margin-left:45px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
}
.loreum{
  list-style:url("image/forma-1-copy-10.png");
}
.loreum li{
  color:#fff;
  margin-left:45px;
}

.Rounded-Rectangle-6-copy-5 {
    width: 225px;
    height: 54px;
    margin: 16px 7px 157px 0;
    padding: 15px 30px 15px 30px;
    border-radius: 27px;
    border: solid 1px #fff;
    background-color: #006072;
    text-decoration: none;
    opacity: 0.6;
  }

.Rounded-Rectangle-6-copy-5 .Lets-Book-a-Cleaner-copy {
    width: 161px;
    height: 14px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
  }

.Btn-book-a-cleaner{
  margin-top:60px;
  margin-bottom:170px;
  text-align: center;

}
.img-grp-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.forma-1-copy{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px 30px
}
.img-grp{
  width: 52px;
  height: 55px;
  margin-left: 50px;  
}
.img-grp-1{
  width: 85px;
  height: 23px;
  margin-top: 40px;
}
.pass-txt{
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color:white;

}
.elipse-525{
  position: absolute;
  z-index: 1;
}
.shape-1{
  z-index: 2;
  margin: 11px;
}
.elipse-shape{
  text-align: center;
  margin :43px 0px 33px 0px;
}
.section-2{
  width: 100%;
  height: 100%;

}
.why-hyperland{
  margin: 84px 0;
  font-family: Roboto;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color:#3d3635;
}
.img-grp-2-holder{
  display: flex;
  flex-wrap: wrap;
  gap:70px;
  justify-content:center;
}
.img-smp-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
}
.img-grp-2{
  width: 300px;
  height: 300px;
}
.pass-txt-2{
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  color: #565656;
}
.dominant{
  font-family: Roboto;
  font-size: 17px;
  text-align: center;
  color: #565656;
}

.lore-container{
  justify-content: center;
  display:flex;
  flex-wrap:wrap;
  gap: 97px;
  margin:200px 200px 41px 200px;
}
.loreum-3{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #4f4f4f;
}
.loreum-4{
  font-family: Roboto;
  font-size: 18px;
  color: #4f4f4f;
}
.group-36{
  align-items: center;
  max-width:403px;
  max-height: 337px;
}
.blog{

  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  color: #4f4f4f;
  text-align:center;
}

.container-blog{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin:66px 0 65px 0;
}
.card-blog{
  display:flex;
  flex-direction: column;
  gap:20px;
  text-align: left;
  width:357px;
}
.txt-grp-28{
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #3d4046;
  padding-left: 20px;
}
.small-txt-grp-28{
  font-family: Roboto;
  font-size: 13px;
  text-align: left;
  color: #a3a3a3;
  padding-left: 20px
}
.s-txt-grp-28{
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: #565656;
  padding-left: 20px;
}
.read-post{
  display: flex;
  gap:5px;
  padding-left: 20px;
}
.read-post2{
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  color: #4f4f4f;
}
.shape-2{
  height: 9px;
  margin:auto 0px;

}
.section-3{
  width: 100%;
  height: 100%;
  background-color:#f4f5f8 ;
}
.what-customer{
  font-size: 40px;
  text-align:center;
  color: #4f4f4f;
}
.container-customer{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top:59px
}
.card-customer{
  display:flex;
  flex-direction: column;
  width:357px;
  gap:27px;
  padding: 47px 30px 30px 38px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: -5px 0px 0px 0px rgb(29 122 140);
}
.txt-image{
  display:flex;
  gap:17px;

}
.info{
  display : flex;
  flex-direction : column;
  gap:8px;
}
.txt-customer{
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #4f4f4f;
}
.small-txt{
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 14px;
}
.main-txt-customer{
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: #565656;
}
.get-newsletter{
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #353548;
  margin-top: 55px;
}
.form1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 53px;
}
.email{
  text-align: center;
  width: 233px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
  padding-left: 8px;

}
.submit{
  width: 88px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7b6d;

}
.msg-us{
  width: 48px;
  height: 48px;
  margin-left: 450px;
  margin-top: -50px;
}
.up-aero{
  background:#525252;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: -450px;
  margin-top: -50px;
}
.footer{
  background-color: black; padding-top: 10px;
}
.logo-footer{
  display: flex;justify-content: center;align-items: center;
}
.img-footer{
  width: 120px;height: 92px;
}
.footer-links-1{
  text-align: center;display: flex;justify-content: center;align-items: center;
}
.footer-links{
  word-spacing:15px;
  color: white;
}
.footer-links a{
  color: white;
}
.social-footer{
  background-color: black;display: flex;justify-content: center;align-items: center;
}

.footer-2{
  text-align: center;display: flex;justify-content: center;align-items: center;color: #9ba0a3;background-color: #292929;
}
.footer-3{
  text-align: center;display: flex;justify-content: center;align-items: center;color: #9ba0a3;background-color: #292929 ;padding-top:10px;
}
.btn-ok{
  background: #EED507;
  float: left;
  color:#4F4F4F ;
  font-size: 16px;
  min-width: 90px;
  min-height: 40px;
  border-radius: 50px;
}
.icon-text-box{
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.right-fl{
  margin-left: 10px;
}
.btn-login {
    background-color: #1D7A8C;
    color: #fff;
    font-size: 24px;
    width: 290px;
    height: 50px;
    border-radius: 100px;
    border: #1D7A8C;
}
.afterLogin {
    display: none !important;
}
.dropdown-toggle::after {
    
    display:none !important;
}


    @media (max-width:1456px) {
        .lore-container {
            gap: 30px;
        }

        .afterLogin {
            display: none !important;
        }
    }

    @media(max-width:1184px) {
        .remove {
            display: none;
        }

        .afterLogin {
            display: none !important;
        }
    }

    @media(max-width:992px) {
        .afterLogin {
            display: block !important;
        }

        .remove-to {
            display: none;
        }
    }

    @media(max-width:520px) {
        .group-36 {
            max-width: 350px;
            max-height: 258px;
        }
    }





